In [1]:
# Import libraries

import os
import random
import pandas as pd
import numpy

In [3]:
#define the function, randomy select a file

def select_random_file():
    #randomly select a file read in only tuition and fee in state.
    random_file=random.choice(os.listdir('CollegeDocs'))
    fields = ['TUITIONFEE_IN']
    file_location='CollegeDocs/'+random_file
    df = pd.read_csv(file_location, usecols=fields)
    #print the number of values, the number of null values, the number of 0, 
    # and then remove null and 0 and print remaining value count.
    print('there are',len(df),'values')
    print('there are',df.isnull().sum().sum(),'nan values')
    print('there are',len(df[df['TUITIONFEE_IN'] == 0]), 'observations with a value of 0')
    df=df.dropna()
    df = df[df['TUITIONFEE_IN'] != 0]
    print('nan and 0 values have been removed')
    print('there are',len(df),'values')

In [4]:
#run the function
select_random_file()

there are 7766 values
there are 3359 nan values
there are 1 observations with a value of 0
nan and 0 values have been removed
there are 4406 values

In [5]:
##Define a function that you can run multiple times where you calc the mean tuition of the data set
#then select a random variable and then print the both and the difference
def obs_v_pop_mean():
    pop_mean=df.TUITIONFEE_IN.mean()
    df2=df.sample()
    randomT=df2.iloc[0]['TUITIONFEE_IN']
    print('The mean tuition of the data set is',pop_mean)
    print('The tuition of the observation is',randomT)
    print('The difference between the population mean and the observation is',pop_mean-randomT)

In [6]:
#run it once
obs_v_pop_mean()

The mean tuition of the data set is 14492.511547344111
The tuition of the observation is 28730.0
The difference between the population mean and the observation is -14237.488452655889

In [7]:
#run it twice
obs_v_pop_mean()

The mean tuition of the data set is 14492.511547344111
The tuition of the observation is 1220.0
The difference between the population mean and the observation is 13272.511547344111

In [8]:
#run it thrice
obs_v_pop_mean()

The mean tuition of the data set is 14492.511547344111
The tuition of the observation is 42314.0
The difference between the population mean and the observation is -27821.48845265589

In [95]:
#define a simialar function but you calculate the mean of teh data set then the mean of a random sample
# with n observations. calc the mean of both then subtract.
def obs_v_pop_mean2(n_observations):
    pop_mean=df.TUITIONFEE_IN.mean()
    df2=df.sample(n=n_observations)
    randommean=df2.TUITIONFEE_IN.mean()
    print(df2)
    print('The mean tuition of the data set is',pop_mean)
    print('The mean tuition of the random observations is',randommean)
    print('The difference between the population mean and the random observations mean is',pop_mean-randommean)

### We then run the function 3 times for 5, 3 times for 10, and 3 times for 20

In [96]:
obs_v_pop_mean2(5)

      TUITIONFEE_IN
1861         6546.0
4880         4281.0
5146        10800.0
1357         8496.0
4472         1142.0
The mean tuition of the data set is 14686.159029649596
The mean tuition of the random observations is 6253.0
The difference between the population mean and the random observations mean is 8433.159029649596

In [97]:
obs_v_pop_mean2(5)

      TUITIONFEE_IN
3938        39142.0
6953        10240.0
1522         3650.0
630          4198.0
5241        12879.0
The mean tuition of the data set is 14686.159029649596
The mean tuition of the random observations is 14021.8
The difference between the population mean and the random observations mean is 664.3590296495968

In [98]:
obs_v_pop_mean2(5)

      TUITIONFEE_IN
55          12340.0
2810         7140.0
3802         4163.0
1881         2650.0
140          8224.0
The mean tuition of the data set is 14686.159029649596
The mean tuition of the random observations is 6903.4
The difference between the population mean and the random observations mean is 7782.759029649596

In [99]:
obs_v_pop_mean2(10)

      TUITIONFEE_IN
963         37626.0
5928        16184.0
1537        36450.0
828         12900.0
553          3702.0
6813         2540.0
6527         9840.0
544          1768.0
2875         8317.0
2714         3825.0
The mean tuition of the data set is 14686.159029649596
The mean tuition of the random observations is 13315.2
The difference between the population mean and the random observations mean is 1370.9590296495953

In [100]:
obs_v_pop_mean2(10)

      TUITIONFEE_IN
1639         5394.0
3909         4107.0
3369        31390.0
1679        13100.0
417         44020.0
1724        19500.0
6599        19800.0
860          3169.0
3305        23900.0
812         15770.0
The mean tuition of the data set is 14686.159029649596
The mean tuition of the random observations is 18015.0
The difference between the population mean and the random observations mean is -3328.840970350404

In [101]:
obs_v_pop_mean2(10)

      TUITIONFEE_IN
2465         9574.0
1354         3936.0
3545        28480.0
5073        18744.0
3405        10880.0
412         33268.0
3073         5870.0
1995         6990.0
4904         6875.0
3515         3052.0
The mean tuition of the data set is 14686.159029649596
The mean tuition of the random observations is 12766.9
The difference between the population mean and the random observations mean is 1919.2590296495964

In [102]:
obs_v_pop_mean2(20)

      TUITIONFEE_IN
1377        35830.0
2422        12450.0
4149        14325.0
3321        10876.0
1483         8596.0
26           4896.0
1237        20440.0
435          1322.0
3488         2280.0
5535         7600.0
3491         2424.0
1927        24610.0
2074         7142.0
2820        11744.0
7005         6444.0
7040         4298.0
1468        33600.0
3325        16700.0
6409        19948.0
1358         8400.0
The mean tuition of the data set is 14686.159029649596
The mean tuition of the random observations is 12696.25
The difference between the population mean and the random observations mean is 1989.909029649596

In [103]:
obs_v_pop_mean2(20)

      TUITIONFEE_IN
4065         2850.0
382          1488.0
1795         5640.0
1422         7620.0
2468         7777.0
5563        17664.0
5707        10695.0
169         12714.0
2189         6350.0
968          3012.0
6523         9840.0
2132         4546.0
3485         2385.0
23          25800.0
1453        50960.0
2047         2880.0
1088        13500.0
7093        14775.0
3817         3851.0
4245        10100.0
The mean tuition of the data set is 14686.159029649596
The mean tuition of the random observations is 10722.35
The difference between the population mean and the random observations mean is 3963.8090296495957