In [246]:
#Open and Read File

with open("census_cost.txt","rt") as f:
    line_list = f.readlines()

In [247]:
#printing the list
for row in line_list:
    print(row)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

In [248]:
#extractomg the top two lines
top2_list = line_list[0:2]

In [249]:
#printing the top two lines 
for row in top2_list:
    print(row)

Source: https://www.genealogybranches.com/censuscosts.html

Census Year	Total Population	Census Cost	Average Cost Per Person

In [250]:
#extracting data list
data_list = line_list[2:25]

In [251]:
#printing data list
for row in data_list:
    print(row)

1790	3,929,214	$44,377	1.13 cents

1800	5,308,483	$66,109	1.24 cents

1810	7,239,881	$178,445	2.46 cents

1820	9,633,822	$208,526	2.16 cents

1830	12,866,020	$378,545	2.94 cents

1840	17,069,458	$833,371	4.88 cents

1850	23,191,876	$1,423,351	6.14 cents

1860	31,443,321	$1,969,377	6.26 cents

1870	38,558,371	$3,421,198	8.87 cents

1880	50,155,783	$5,790,678	11.54 cents

1890	62,979,766	$11,547,127	18.33 cents

1900	76,303,387	$11,854,000	15.54 cents

1910	91,972,266	$15,968,000	17.07 cents

1920	105,710,620	$25,117,000	23.76 cents

1930	122,775,046	$40,156,000	32.71 cents

1940	131,669,275	$67,527,000	51.29 cents

1950	151,325,798	$91,462,000	60.44 cents

1960	179,323,175	$127,934,000	71.34 cents

1970	203,302,031	$247,653,000	$1.22

1980	226,542,199	$1,078,488,000	$4.76

1990	248,718,301	$2,492,830,000	$10.02

2000	281,421,906	$4.5 Billion	$15.99

2010*	308,745,538	$13 Billion	$42.11

In [252]:
#Extract census year to year list and remove the "*" from 2010
year_list = []
for row in data_list:
    item = (row[0:4])
    year_list.append(item)

In [253]:
# print year_list
for row in year_list:
    print (row)

1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010

In [254]:
#split the data_list into a list of lists
def extractDigits(lst): 
    res = [] 
    for el in lst: 
        sub = el.split('\t') 
        res.append(sub) 
      
    return(res) 
                  
# Driver code 
data_list_split = (extractDigits(data_list))

In [255]:
#check the list
data_list_split

[['1790', '3,929,214', '$44,377', '1.13 cents\n'],
 ['1800', '5,308,483', '$66,109', '1.24 cents\n'],
 ['1810', '7,239,881', '$178,445', '2.46 cents\n'],
 ['1820', '9,633,822', '$208,526', '2.16 cents\n'],
 ['1830', '12,866,020', '$378,545', '2.94 cents\n'],
 ['1840', '17,069,458', '$833,371', '4.88 cents\n'],
 ['1850', '23,191,876', '$1,423,351', '6.14 cents\n'],
 ['1860', '31,443,321', '$1,969,377', '6.26 cents\n'],
 ['1870', '38,558,371', '$3,421,198', '8.87 cents\n'],
 ['1880', '50,155,783', '$5,790,678', '11.54 cents\n'],
 ['1890', '62,979,766', '$11,547,127', '18.33 cents\n'],
 ['1900', '76,303,387', '$11,854,000', '15.54 cents\n'],
 ['1910', '91,972,266', '$15,968,000', '17.07 cents\n'],
 ['1920', '105,710,620', '$25,117,000', '23.76 cents\n'],
 ['1930', '122,775,046', '$40,156,000', '32.71 cents\n'],
 ['1940', '131,669,275', '$67,527,000', '51.29 cents\n'],
 ['1950', '151,325,798', '$91,462,000', '60.44 cents\n'],
 ['1960', '179,323,175', '$127,934,000', '71.34 cents\n'],
 ['1970', '203,302,031', '$247,653,000', '$1.22\n'],
 ['1980', '226,542,199', '$1,078,488,000', '$4.76\n'],
 ['1990', '248,718,301', '$2,492,830,000', '$10.02\n'],
 ['2000', '281,421,906', '$4.5 Billion', '$15.99\n'],
 ['2010*', '308,745,538', '$13 Billion', '$42.11']]

In [256]:
#create pop_list by taking the second element from the lists in data_list_split and replace the commas with a nothing
pop_list = []
for row in data_list_split:
    item = (row[1].replace(',',''))
    pop_list.append(item)

In [257]:
# print pop_list to check
for row in pop_list:
    print (row)

3929214
5308483
7239881
9633822
12866020
17069458
23191876
31443321
38558371
50155783
62979766
76303387
91972266
105710620
122775046
131669275
151325798
179323175
203302031
226542199
248718301
281421906
308745538

In [258]:
cost_list = []
for row in data_list_split:
    item = (row[2].replace(',',''))
    cost_list.append(item)

In [259]:
cost_list

['$44377',
 '$66109',
 '$178445',
 '$208526',
 '$378545',
 '$833371',
 '$1423351',
 '$1969377',
 '$3421198',
 '$5790678',
 '$11547127',
 '$11854000',
 '$15968000',
 '$25117000',
 '$40156000',
 '$67527000',
 '$91462000',
 '$127934000',
 '$247653000',
 '$1078488000',
 '$2492830000',
 '$4.5 Billion',
 '$13 Billion']

In [260]:
cost_list2 =[]
for costs in cost_list:
    item = (costs.replace('$',''))
    cost_list2.append(item)

In [261]:
cost_list2

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '4.5 Billion',
 '13 Billion']

In [262]:
#Fix element 
cost_list2[22]=(cost_list2[22].replace('Billion','000000000'))
cost_list2[22]=(cost_list2[22].replace(' ',''))
cost_list2[22]

'13000000000'

In [263]:
#fix other element
cost_list2[21]=(cost_list2[21].replace('Billion','00000000'))
cost_list2[21]=(cost_list2[21].replace(' ',''))
cost_list2[21]=(cost_list2[21].replace('.',''))
cost_list2[21]

'4500000000'

In [264]:
#print list to check
cost_list2

['44377',
 '66109',
 '178445',
 '208526',
 '378545',
 '833371',
 '1423351',
 '1969377',
 '3421198',
 '5790678',
 '11547127',
 '11854000',
 '15968000',
 '25117000',
 '40156000',
 '67527000',
 '91462000',
 '127934000',
 '247653000',
 '1078488000',
 '2492830000',
 '4500000000',
 '13000000000']

In [265]:
#get average cost list replace cents line split and space

avg_list = []
for row in data_list_split:
    item = (row[3].replace('cents',''))
    item2 = item.replace('\n','')
    item3 = item2.replace(' ','')
    avg_list.append(item3)

In [266]:
#check average list
avg_list

['1.13',
 '1.24',
 '2.46',
 '2.16',
 '2.94',
 '4.88',
 '6.14',
 '6.26',
 '8.87',
 '11.54',
 '18.33',
 '15.54',
 '17.07',
 '23.76',
 '32.71',
 '51.29',
 '60.44',
 '71.34',
 '$1.22',
 '$4.76',
 '$10.02',
 '$15.99',
 '$42.11']

In [267]:
#remove deicmal if there is a dollar sign
avg_list2 = []
for item in avg_list:
    if '$' in item:
        item = item.replace('.','')
    avg_list2.append(item)

In [268]:
#check list
avg_list2

['1.13',
 '1.24',
 '2.46',
 '2.16',
 '2.94',
 '4.88',
 '6.14',
 '6.26',
 '8.87',
 '11.54',
 '18.33',
 '15.54',
 '17.07',
 '23.76',
 '32.71',
 '51.29',
 '60.44',
 '71.34',
 '$122',
 '$476',
 '$1002',
 '$1599',
 '$4211']

In [269]:
#now can get rid of the dollar signs
avg_list3 =[]
for costs in avg_list2:
    item = (costs.replace('$',''))
    avg_list3.append(item)

In [270]:
#check list
avg_list3

['1.13',
 '1.24',
 '2.46',
 '2.16',
 '2.94',
 '4.88',
 '6.14',
 '6.26',
 '8.87',
 '11.54',
 '18.33',
 '15.54',
 '17.07',
 '23.76',
 '32.71',
 '51.29',
 '60.44',
 '71.34',
 '122',
 '476',
 '1002',
 '1599',
 '4211']

In [271]:

avg_list4=[float(i) for i in avg_list3]

In [272]:
avg_list5 =[]
for costs in avg_list4:
    item = costs/100
    avg_list5.append(item)

In [273]:
avg_list5

[0.0113,
 0.0124,
 0.0246,
 0.0216,
 0.0294,
 0.048799999999999996,
 0.061399999999999996,
 0.0626,
 0.08869999999999999,
 0.11539999999999999,
 0.1833,
 0.15539999999999998,
 0.1707,
 0.2376,
 0.3271,
 0.5129,
 0.6043999999999999,
 0.7134,
 1.22,
 4.76,
 10.02,
 15.99,
 42.11]

In [274]:
#Zip lists together
x= zip(year_list, pop_list,cost_list2,avg_list5)

In [275]:
#check lists
print(x)

<zip object at 0x7fa4c0c88300>

In [276]:

a = list(x)

In [277]:
print (a)

[('1790', '3929214', '44377', 0.0113), ('1800', '5308483', '66109', 0.0124), ('1810', '7239881', '178445', 0.0246), ('1820', '9633822', '208526', 0.0216), ('1830', '12866020', '378545', 0.0294), ('1840', '17069458', '833371', 0.048799999999999996), ('1850', '23191876', '1423351', 0.061399999999999996), ('1860', '31443321', '1969377', 0.0626), ('1870', '38558371', '3421198', 0.08869999999999999), ('1880', '50155783', '5790678', 0.11539999999999999), ('1890', '62979766', '11547127', 0.1833), ('1900', '76303387', '11854000', 0.15539999999999998), ('1910', '91972266', '15968000', 0.1707), ('1920', '105710620', '25117000', 0.2376), ('1930', '122775046', '40156000', 0.3271), ('1940', '131669275', '67527000', 0.5129), ('1950', '151325798', '91462000', 0.6043999999999999), ('1960', '179323175', '127934000', 0.7134), ('1970', '203302031', '247653000', 1.22), ('1980', '226542199', '1078488000', 4.76), ('1990', '248718301', '2492830000', 10.02), ('2000', '281421906', '4500000000', 15.99), ('2010', '308745538', '13000000000', 42.11)]

In [278]:
for row in a:
    print (row)

('1790', '3929214', '44377', 0.0113)
('1800', '5308483', '66109', 0.0124)
('1810', '7239881', '178445', 0.0246)
('1820', '9633822', '208526', 0.0216)
('1830', '12866020', '378545', 0.0294)
('1840', '17069458', '833371', 0.048799999999999996)
('1850', '23191876', '1423351', 0.061399999999999996)
('1860', '31443321', '1969377', 0.0626)
('1870', '38558371', '3421198', 0.08869999999999999)
('1880', '50155783', '5790678', 0.11539999999999999)
('1890', '62979766', '11547127', 0.1833)
('1900', '76303387', '11854000', 0.15539999999999998)
('1910', '91972266', '15968000', 0.1707)
('1920', '105710620', '25117000', 0.2376)
('1930', '122775046', '40156000', 0.3271)
('1940', '131669275', '67527000', 0.5129)
('1950', '151325798', '91462000', 0.6043999999999999)
('1960', '179323175', '127934000', 0.7134)
('1970', '203302031', '247653000', 1.22)
('1980', '226542199', '1078488000', 4.76)
('1990', '248718301', '2492830000', 10.02)
('2000', '281421906', '4500000000', 15.99)
('2010', '308745538', '13000000000', 42.11)

In [279]:

                  
# Driver code 
data_list_split2 = (extractDigits(top2_list))

In [280]:
data_list_split2

[['Source: https://www.genealogybranches.com/censuscosts.html\n'],
 ['Census Year',
  'Total Population',
  'Census Cost',
  'Average Cost Per Person\n']]

In [294]:
#write file by writing header and columns

with open('census_cost.csv', 'w') as f:
    for _list in data_list_split2:
        for _string in _list:
            #f.seek(0)
            f.write(str(_string) + ',')
    for row in a:
        f.write(str(row) + '\n')
    f.close()

In [291]:

for row in a:
    f.write(str(_string) + '\n')

ValueError: I/O operation on closed file.